.introduction {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-me, .projects {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
}

.title, .subtitle {
    font-weight: 200;
}

.title b, .subtitle b {
    font-weight: 400;
}

.introduction .icon-block h1 {
    margin-bottom: 0;
}

.introduction .icon-block h5 {
    font-weight: 200;
    margin-top: 5px;
}

.introduction .icon-block p {
    font-size: 80%;
}

.introduction .icon-block {
    padding: 0 15px;
}

.about-me .me {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto 30px;
    background-image: url('https://gravatar.com/avatar/a76cec1be98d6d7d4ff781b9d1c3f4c9.jpg?s=200');
}

.projects {

}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.introduction .row, .about-me .row:last-child, .projects .row:last-child, .footer .row {
    margin-bottom: 0;
}

.underline {
    text-decoration: underline;
}
