.introduction {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-me, .projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title, .subtitle {
    font-weight: 200;
}

.title b, .subtitle b {
    font-weight: 400;
}

.introduction .icon-block h1 {
    margin-bottom: 0;
}

.introduction .icon-block h5 {
    font-weight: 200;
    margin-top: 5px;
}

.introduction .icon-block {
    padding: 0 15px;
}

.about-me .me {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto 30px;
    background-image: url('https://gravatar.com/avatar/5084457b26c6c0188ef53673d5221782.jpg?s=200');
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.introduction .row, .about-me .row:last-child, .projects .row:last-child, .footer .row {
    margin-bottom: 0;
}

.mobile-fab-tip {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}

.line-through {
    text-decoration: line-through;
}